// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

/* For use in src/lib/core/theming/_palette.scss */
$md-primary-dark: (
    50 : #e7e8e9,
    100 : #c2c5c9,
    200 : #9a9fa5,
    300 : #727880,
    400 : #535b65,
    500 : #353e4a,
    600 : #303843,
    700 : #28303a,
    800 : #222832,
    900 : #161b22,
    A100 : #68a4ff,
    A200 : #3586ff,
    A400 : #0267ff,
    A700 : #005ce7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-accent-dark: (
    50 : #ebf1e6,
    100 : #ccdcc1,
    200 : #aac597,
    300 : #88ae6d,
    400 : #6f9c4e,
    500 : #558b2f,
    600 : #4e832a,
    700 : #447823,
    800 : #3b6e1d,
    900 : #2a5b12,
    A100 : #b3ff93,
    A200 : #8fff60,
    A400 : #6cff2d,
    A700 : #5aff14,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-warn-dark: (
    50 : #fff1e0,
    100 : #feddb3,
    200 : #fdc680,
    300 : #fcaf4d,
    400 : #fc9d26,
    500 : #fb8c00,
    600 : #fa8400,
    700 : #fa7900,
    800 : #f96f00,
    900 : #f85c00,
    A100 : #ffffff,
    A200 : #fff1eb,
    A400 : #ffceb8,
    A700 : #ffbc9f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);




// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$money-ui-dark-primary: mat-palette($md-primary-dark);
$money-ui-dark-accent: mat-palette($md-accent-dark, A200, A100, A400);

// The warn palette is optional (defaults to red).
$money-ui-dark-warn: mat-palette($md-warn-dark);

// Create the theme object (a Sass map containing all of the palettes).
$money-ui-dark-theme: mat-light-theme($money-ui-dark-primary, $money-ui-dark-accent, $money-ui-dark-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// @include angular-material-theme($money-ui-light-theme);