@import '~@angular/material/theming';
@import './styles/light-palette';
@import './styles/dark-palette';

body[theme="light"] {
	@include angular-material-theme($money-ui-light-theme);
}

body[theme="dark"] {
	@include angular-material-theme($money-ui-dark-theme);

	background-color: mat-color($money-ui-dark-primary);
}

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
